*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.cards-container{
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.card-container{
  display: flex;
  flex-direction: column;
  gap:10px;
  padding:10px 30px;
  border:1px solid rgb(227, 227, 227);
  border-radius: 5px;
  box-shadow: 0px 4px 12px rgba(15,15,15,0.08);
}

.interests{
  display: flex;
  gap:3px;
}

.buttons{
  display: flex;
  gap:3px;
}
.button{
  color:white;
  background-color: #777ccf;
  padding:5px 10px;
  outline: none;
  border-radius: 5px;
  border:none;
}